{% extends "base.html.twig" %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h5>
        Bienvenue sur la page produit {{ alias | title }} {{ id }} {{ category | title }}
    </h5>
{% endblock %}

